body {
    /* margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;  */
    overflow-x: hidden;
}

.main-content {
    position: relative;
    top: 172px;
}

.cart-padding {
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 20px;
}

.text-padding-top {
    margin-top: 10px;
    display: block;
}

.text-padding-top span {
    color: red;
}

.thumbnail a>img, .thumbnail>img {
    /*margin-left: 0 !important;*/
    /*margin-right: 0 !important;*/
    width: 60%;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.price {
    color: red;
}