* {
    font-family: sans-serif;
}

html {
    background-image: url("bats.gif");
    background-repeat: repeat;
}

#imgpumpkin {
    float: left !important;
}

body {
    width: 800px;
    background: white;
    border: solid 2px black;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 14px 15px 5px black;
}

header {
    border-bottom: solid 2px black;
}

header>h3 {
    font-size: xx-large;
    font-style: italic;
    color: orange;
    text-shadow: 2px 2px #424141;
    text-indent: 10px;
}

header>h4 {
    font-size: large;
    text-indent: 15px;
}

main>h1 {
    font-size: x-large;
}

main>h1::first-letter {
    font-size: 200%;
}

main>h3 {
    font-size: large;
}

main>h4 {
    font-size: medium;
}

.main-links li a, .main-links li a:visited {
    color: orange;
}

.main-links li a:hover {
    color: green;
}

.main-links li {
    margin-bottom: 5px;
}

footer {
    border-top: solid 2px black;
}

footer>p {
    text-align: center; 
    font-size: small; 
}